body {
    background-color: cadetblue;
}


footer {
    background-color:white;

}

b {
    text-aling:center;
}

.navbar {
background-color: white;
align: center;
text-decoration-color: cadetblue;
}